.fondo{
    background: pink;
    position: relative;
    height: 35em;
    width: 70em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consola{
    background:red;
    height: 15em;
    width: 35em;
    border-radius: 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;

}

.pantalla{
    height: 90%;
    width: 70%;
    background:green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mando1{
    height: 100%;
    width: 15%;
    background: mediumorchid;

}
.botones1{
    height: 20%;
    width: 100%;
    background: purple;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.selec{
  height: 0.5em;
  width: 1em;
  background: silver;
  margin-right: 0.5em;
  margin-top: 15%;
  border: black 1px solid;
}
.botones2{
    height: 30%;
    width: 100%;
    background: rgb(128, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}
.joystick{
    background: darkcyan;
    height: 3em;
    width: 3em;
    border-radius: 100% 100% 100% 100%;
}
.botones3{
    height: 30%;
    width: 100%;
    background: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cruceta{
    height: 4em;
    width: 4em;
    background: rgb(75, 224, 0);
    display: flex;
    flex-direction: column;
    

}
.cruz1{
    height: 100%;
    width: 100%;
    background: crimson;
    display: flex;
    flex-direction: row;

}
.cruzarriba1{
    background: dodgerblue;
    height: 100%;
    width: 33%;
}
.cruzarriba2{
    background: rgb(19, 78, 27);
    height: 100%;
    width: 34%;
}
.cruzarriba3{
    background: rgb(22, 4, 65);
    height: 100%;
    width: 33%;
}
.cruz2{
    height: 100%;
    width: 100%;
    background: darkblue;
    display: flex;
    flex-direction: row;
}
.cruzcentral1{
    background: hotpink;
    height:100% ;
    width: 33%;
}
.cruzcentral2{
    background: lawngreen;
    height: 100%;
    width: 34%;

}
.cruzcentral3{
    background: magenta;
    height: 100%;
    width: 33%;
}
.cruz3{
    height: 100%;
    width: 100%;
    background: rgb(41, 19, 138);
    display: flex;
    flex-direction: row;
}
.cruzbaja1{
    background: midnightblue;
    height: 100%;
    width: 33%;

}
.cruzbaja2{
    background: orange;
    height: 100%;
    width: 34%;
}
.cruzbaja3{
    background: plum;
    height: 100%;
    width: 33%;
}

.botones4{
    height: 20%;
    width: 100%;
    background: sandybrown;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.capd{
    background: powderblue;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;

}
.mando2{
    height: 100%;
    width: 15%;
    background: orangered;

    }
    .bt1{
        height: 20%;
        width: 100%;
        background: purple;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }
    .start{
        height: 0.5em;
        width: 1em;
        background: silver;
        margin-left: 0.5em;
        margin-top: 15%;
        border: black 1px solid;
      
    }
    .bt2{
        height: 30%;
        width: 100%;
        background: seashell;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cz{
        height: 4em;
        width: 4em;
        background: rgb(75, 224, 0);
        display: flex;
        flex-direction: column;
    }
    .c1{
        height: 100%;
        width: 100%;
        background: crimson;
        display: flex;
        flex-direction: row;    
    }
    .ca1{
        background: dodgerblue;
        height: 100%;
        width: 33%;
    
    }
    .ca2{
        background: rgb(19, 78, 27);
        height: 100%;
        width: 34%;
    
    }
    .ca3{
        background: rgb(22, 4, 65);
        height: 100%;
        width: 33%;
    
    }
    .c2{
        height: 100%;
        width: 100%;
        background: darkblue;
        display: flex;
        flex-direction: row;
    }
    .cc1{
        background: hotpink;
        height:100% ;
        width: 33%;

    }
    .cc2{
        background: lawngreen;
        height: 100%;
        width: 34%;
    }
    .cc3{
        background: magenta;
        height: 100%;
        width: 33%;

    }
    .c3{
        height: 100%;
        width: 100%;
        background: rgb(41, 19, 138);
        display: flex;
        flex-direction: row;
    }
    .cb1{
        background: midnightblue;
        height: 100%;
        width: 33%;
    }
    .cb2{
        background: orange;
        height: 100%;
        width: 34%;    
    }
    .cb3{
        background: plum;
    height: 100%;
    width: 33%;

    }
    .bt3{
        height: 30%;
        width: 100%;
        background: rgb(128, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .jk{
        background: darkcyan;
        height: 3em;
        width: 3em;
        border-radius: 100% 100% 100% 100%;

    }
.bt4{
    height: 20%;
    width: 100%;
    background: sandybrown;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home{
    background: powderblue;
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    border-radius: 100% 100% 100% 100%;
}
