.fondo{
    background: rgb(255, 255, 255);
    position: relative;
    height: 35em;
    width: 70em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consola{
    background:rgb(214, 10, 10);
    height: 15em;
    width: 35em;
    border-radius: 20% 20% 20% 20%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    border: black 2px solid;

}

.pantalla{
    height: 90%;
    width: 70%;
    background:rgb(175, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pantallainterior{
    height: 90%;
    width: 90%;
    background: darkgrey;
    border: black 2px solid;
    display: flex;
    
}
.mando1{
    height: 100%;
    width: 15%;
    background: rgb(214, 10, 10);

}
.botones1{
    height: 20%;
    width: 100%;
    background: 214, 10, 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.selec{
  height: 0.3em;
  width: 1em;
  background: rgb(236, 236, 236);
  margin-right: 0.5em;
  margin-top: 15%;
  border: black 2px solid;
}
.botones2{
    height: 30%;
    width: 100%;
    background:214, 10, 10;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.joystick{
    background: rgb(235, 235, 235);
    height: 3em;
    width: 3em;
    border-radius: 100% 100% 100% 100%;
    border: black 2px solid;
}
.botones3{
    height: 30%;
    width: 100%;
    background:214, 10, 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cruceta{
    height: 4em;
    width: 4em;
    background: 214, 10, 10;
    display: flex;
    flex-direction: column;
    

}
.cruz1{
    height: 100%;
    width: 100%;
    background: 214, 10, 10;
    display: flex;
    flex-direction: row;

}
.cruzarriba1{
    background: 214, 10, 10;
    height: 100%;
    width: 33%;
}
.cruzarriba2{
    background:rgb(235, 235, 235);
    height: 100%;
    width: 34%;
    border-left: black 2px solid;
    border-top: black 2px solid;
    border-right: black 2px solid;
}
.cruzarriba3{
    background: 214, 10, 10;
    height: 100%;
    width: 33%;
}
.cruz2{
    height: 100%;
    width: 100%;
    background: 214, 10, 10;
    display: flex;
    flex-direction: row;
}
.cruzcentral1{
    background: rgb(236, 236, 236);
    height:100% ;
    width: 33%;
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-width: black 2px solid;
}
.cruzcentral2{
    background: rgb(236, 236, 236);
    height: 100%;
    width: 34%;

}
.cruzcentral3{
    background: rgb(236, 236, 236);
    height: 100%;
    width: 33%;
    border-top: black 2px solid;
    border-right: black 2px solid;
    border-width: black 2px solid;
}
.cruz3{
    height: 100%;
    width: 100%;
    background: 214, 10, 10;
    display: flex;
    flex-direction: row;
}
.cruzbaja1{
    background: 214, 10, 10;
    height: 100%;
    width: 33%;

}
.cruzbaja2{
    background: rgb(236, 236, 236);
    height: 100%;
    width: 34%;
    border-width: black 2px solid;
    border-right: black 2px solid;
    border-left: black 2px solid;

}
.cruzbaja3{
    background: 214, 10, 10;
    height: 100%;
    width: 33%;
}

.botones4{
    height: 20%;
    width: 100%;
    background:214, 10, 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.capd{
    background: rgb(236, 236, 236);
    height: 0.7em;
    width: 0.7em;
    margin-right: 0.5em;
    border: black 2px solid;

}
.mando2{
    height: 100%;
    width: 15%;
    background: 214, 10, 10;

    }
    .bt1{
        height: 20%;
        width: 100%;
        background: 214, 10, 10; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }
    .start{
        height: 0.3em;
        width: 1em;
        background: rgb(235, 235, 235);
        margin-left: 0.5em;
        margin-top: 15%;
        border: black 2px solid;
      
    }
    .bt2{
        height: 30%;
        width: 100%;
        background: 214, 10, 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cz{
        height: 4em;
        width: 4em;
        background:rgb(214, 10, 10);
        display: flex;
        flex-direction: column;
    }
    .c1{
        height: 100%;
        width: 100%;
        background: 214, 10, 10;
        display: flex;
        flex-direction: row;    
    }
    .ca1{
        background:214, 10, 10;
        height: 100%;
        width: 33%;
    
    }
    .ca2{
        background: rgb(236, 236, 236);
        height: 100%;
        width: 34%;
        border-radius: 100% 100% 100% 100%;
        border: black 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .ca3{
        background: 214, 10, 10;
        height: 100%;
        width: 33%;
    
    }
    .c2{
        height: 100%;
        width: 100%;
        background: 214, 10, 10;
        display: flex;
        flex-direction: row;
    }
    .cc1{
        background: rgb(236, 236, 236);
        height:100% ;
        width: 33%;
        border-radius: 100% 100% 100% 100%;
        border: black 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .cc2{
        background: rgb(214, 10, 10);
        height: 100%;
        width: 34%;
    }
    .cc3{
        background: rgb(236, 236, 236);
        height: 100%;
        width: 33%;
        border-radius:100% 100% 100% 100% ;
        border: black 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .c3{
        height: 100%;
        width: 100%;
        background: 214, 10, 10;
        display: flex;
        flex-direction: row;
    }
    .cb1{
        background: 214, 10, 10;
        height: 100%;
        width: 33%;
    }
    .cb2{
        background: rgb(236, 236, 236);
        height: 100%;
        width: 34%;
        border-radius: 100% 100% 100% 100%;
        border: black 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .cb3{
        background: 214, 10, 10;
    height: 100%;
    width: 33%;

    }
    .bt3{
        height: 30%;
        width: 100%;
        background: 214, 10, 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .jk{
        background: rgb(236, 236, 236);
        height: 3em;
        width: 3em;
        border-radius: 100% 100% 100% 100%;
        border: black 2px solid;

    }
.bt4{
    height: 20%;
    width: 100%;
    background: 214, 10, 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home{
    background: rgb(236, 236, 236);
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    border-radius: 100% 100% 100% 100%;
    border: black 2px solid;
}
